{% extends 'base.html' %}

{% block content %}

<a href="{% url 'index' %}" class="btn btn-outline-secondary mb-3">
    ← Back
</a>

<div class="d-flex justify-content-between align-items-center mb-4">
    <h1>{{ vulnerability.title }}</h1>

    <div>

    </div>
</div>

<div class="card shadow-sm mb-4">
    <div class="card-body">
        <h4>Description</h4>
        <p>{{ vulnerability.description }}</p>
    </div>
</div>

<div class="card shadow-sm mb-4">
    <div class="card-body">
        <h4>Details</h4>
        <p><strong>Project:</strong> {{ vulnerability.project }}</p>
        <p><strong>Reporter:</strong> {{ vulnerability.reporter }}</p>
        <p><strong>Created:</strong> {{ vulnerability.created_at }}</p>
    </div>
</div>
{% if is_analyst %}
    <div class="card shadow-sm mb-4">
        <div class="card-body">
            <h4>Change Status</h4>

            <form method="POST">
                {% csrf_token %}
                {{ status_form.as_p }}

                <button type="submit" name="status_submit" class="btn btn-primary">
                    Change Status
                </button>
            </form>
        </div>
    </div>
{% endif %}
{% if is_admin %}
    <div class="card shadow-sm mb-4">
        <div class="card-body">
            <h4>History Status</h4>
            {% for item in history %}
                <p>
                    {{ item.old_status }} -> {{ item.new_status }}
                    by {{ item.changed_by }}
                    at {{ item.created_at }}
                </p>
            {% empty %}
                <p>No status history yet.</p>
            {% endfor %}
        </div>
    </div>
{% endif %}

<div class="card shadow-sm mb-4">
    <div class="card-body">
        <h4>Add Comment</h4>

        <form method="POST">
            {% csrf_token %}
            {{ comment_form.as_p }}

            <button type="submit" name="comment_submit" class="btn btn-success">
                Add Comment
            </button>
        </form>
    </div>
</div>

<h4 class="mb-3">Comments</h4>

{% for comment in comments %}
    <div class="card shadow-sm mb-3">
        <div class="card-body">
            <strong>{{ comment.author }}</strong>
            <small class="text-muted d-block">
                {{ comment.created_at }}
            </small>

            <p class="mt-2 mb-0">
                {{ comment.content }}
            </p>
        </div>
    </div>
{% empty %}
    <p class="text-muted">No comments yet.</p>
{% endfor %}

{% endblock %}
