{% extends 'base.html' %}

{% block content %}

<div class="d-flex justify-content-between align-items-center mb-4">
    <h1>Vulnerabilities</h1>

    <a href="{% url 'create_vulnerability' %}" class="btn btn-primary">
        Create Vulnerability
    </a>
</div>

<div class="row mb-4">
    <div class="col mb-3">
        <div class="card shadow-sm">
            <div class="card-body">
                <h5>Total Vulnerabilities</h5>
                <h2>{{ total_vulnerabilities }}</h2>
            </div>
        </div>
    </div>
</div>
<div class="row mb-4">
    <div class="col mb-3">
        <div class="card shadow-sm">
            <div class="card-body">
                <h5>Critical Vulnerabilities</h5>
                <h2>{{ critical_vulnerabilities }}</h2>
            </div>
        </div>
    </div>
</div>
<div class="row mb-4">
    <div class="col mb-3">
        <div class="card shadow-sm">
            <div class="card-body">
                <h5>Fixed Vulnerabilities</h5>
                <h2>{{ fixed_vulnerabilities }}</h2>
            </div>
        </div>
    </div>
</div>
<div class="row mb-4">
    <div class="col mb-3">
        <div class="card shadow-sm">
            <div class="card-body">
                <h5>Open Vulnerabilities</h5>
                <h2>{{ open_vulnerabilities }}</h2>
            </div>
        </div>
    </div>
</div>
<table class="table table-hover bg-white shadow-sm">
    <thead class="table-dark">
        <tr>
            <th>Title</th>
            <th>Severity</th>
            <th>Status</th>
            <th>Project</th>
            <th>Created</th>
        </tr>
    </thead>
    <tbody>

    {% for vulnerability in vulnerabilities %}

        <tr>
            <td>
                <a href="{% url 'vulnerability_detail' vulnerability.id %}">
                    {{ vulnerability.title }}
                </a>
            </td>

            <td>
                {% if vulnerability.severity == 'critical' %}
                    <span class="badge bg-danger">{{ vulnerability.severity }}</span>
                {% elif vulnerability.severity == 'high' %}
                    <span class="badge bg-warning text-dark"> {{ vulnerability.severity }}</span>
                {% elif vulnerability.severity == 'medium' %}
                    <span class="badge bg-primary"> {{ vulnerability.severity }}</span>
                {% else %}
                    <span class="badge bg-success">{{ vulnerability.severity }}</span>
                {% endif %}
            </td>
            <td>
                {% if vulnerability.status == 'new' %}
                    <span class="badge bg-secondary">{{ vulnerability.status }}</span>

                {% elif vulnerability.status == 'triaged' %}
                    <span class="badge bg-info text-dark">{{ vulnerability.status }}</span>

                {% elif vulnerability.status == 'accepted' %}
                    <span class="badge bg-primary">{{ vulnerability.status }}</span>

                {% elif vulnerability.status == 'fixed' %}
                    <span class="badge bg-success">{{ vulnerability.status }}</span>

                {% elif vulnerability.status == 'rejected' %}
                    <span class="badge bg-secondary">{{ vulnerability.status }}</span>

                {% else %}
                    <span class="badge bg-dark">{{ vulnerability.status }}</span>
                {% endif %}
            </td>
            <td>{{ vulnerability.project }}</td>
            <td>{{ vulnerability.created_at }}</td>
            <td>{% if request.user.is_staff %}
        <a href="{% url 'delete_vulnerability' id=vulnerability.id %}" class="btn btn-danger">
    Delete
</a>
                <a href="{% url 'update_vulnerability' id=vulnerability.id %}" class="btn btn-danger">
                    Edit
                </a>
    {% endif %}</td>
        </tr>

    {% endfor %}

    </tbody>
</table>

{% endblock %}
